@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@keyframes horizontal-hover-in {
  from {
    width: 0%; }
  to {
    width: 100%;
    background: #8f6a30; } }
@keyframes horizontal-hover-out {
  from {
    width: 100%;
    background: #8f6a30; }
  to {
    width: 0%; } }
@media (max-width: 768px) {
  @keyframes horizontal-hover-in {
    from {
      width: 0%; }
    to {
      width: 100%;
      background: #061e2b; } }
  @keyframes horizontal-hover-out {
    from {
      width: 100%;
      background: #061e2b; }
    to {
      width: 0%; } } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.container {
  max-width: 1100px;
  margin: auto; }

body {
  overflow-x: hidden; 
  min-height: 100vh;
}

.fixed {
  height: 70px;
  width: 100%; }

.btn1 {
  display: inline-block;
  margin-top: 1rem;
  width: 80px;
  color: #ffbe56;
  background: #0a3044;
  padding: 0.5rem 0.5rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  border: 2px solid #0a3044;
  transition: all 0.3s ease-in-out; }

.btn1:hover {
  cursor: pointer;
  background: #ffbe56;
  color: #0a3044; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; }
  .video video {
    width: 100%;
    height: 100%;
    object-fit: cover; }

nav {
  background: #0a3044;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1; }
  nav .container {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative; }
    nav .container img {
      height: 70px; }
    nav .container .hamburger {
      width: 40px;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      position: relative;
      cursor: pointer; }
      nav .container .hamburger .bar {
        width: 100%;
        height: 3px;
        background: #ffbe56;
        border-radius: 5px;
        position: absolute;
        transition: all 0.4s; }
      nav .container .hamburger .bar::before, nav .container .hamburger .bar::after {
        content: '';
        width: 100%;
        height: 3px;
        background: #ffbe56;
        position: absolute;
        transition: all 0.4s; }
      nav .container .hamburger .bar::before {
        top: -10px; }
      nav .container .hamburger .bar::after {
        top: 10px; }
    nav .container ul {
      font-family: "Encode Sans SC", sans-serif;
      width: 400px;
      display: flex;
      justify-content: space-around;
      padding: 1rem 0;
      position: absolute;
      right: 0; }
      nav .container ul li a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        background: #ffbe56;
        border-radius: 5px;
        font-size: 0.8rem;
        width: auto;
        padding: 0.7rem 0.8rem;
        color: white;
        z-index: 1; }
      nav .container ul li a::before {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        animation: horizontal-hover-out 0.4s ease-in-out; }
      nav .container ul li a:hover::before {
        animation: horizontal-hover-in 0.4s ease-in-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards; }
      nav .container ul .resume {
        background: #fff;
        color: #ffbe56; }

.menu-animation .bar {
  background: transparent !important; }
.menu-animation .bar::before {
  transform: translateY(10px) rotate(45deg); }
.menu-animation .bar::after {
  transform: translateY(-10px) rotate(-45deg); }

header {
  width: 100vw; }
  header .showcase {
    min-height: 100vh; }
    header .showcase .transparent {
      height: 40vh;
      width: 100%;
      background: transparent; }
    header .showcase div:nth-child(2) {
      border-radius: 50%/60px 60px 0 0;
      background: #ffbe56;
      height: 25vh;
      display: flex;
      justify-content: center;
      position: relative; }
      header .showcase div:nth-child(2) img {
        width: 150px;
        transform: rotate(-18deg);
        border-radius: 50%;
        position: absolute;
        top: -75px; }
    header .showcase div:nth-child(3) {
      background: #ffbe56;
      width: 100%;
      min-height: 35vh;
      height: auto;
      padding: 0 3rem;
      padding-bottom: 1rem;
      color: #0a3044;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem; }
      header .showcase div:nth-child(3) .self-intro {
        grid-column: 1/span 1; }
        header .showcase div:nth-child(3) .self-intro p {
          font-family: "Zen Loop", cursive;
          font-size: 2rem;
          font-weight: 900; }
        header .showcase div:nth-child(3) .self-intro h1, header .showcase div:nth-child(3) .self-intro h2 {
          font-family: "Otomanopee One", sans-serif; }
        header .showcase div:nth-child(3) .self-intro h1 {
          font-size: 4rem; }
      header .showcase div:nth-child(3) .about-me {
        padding-top: 1rem;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto; }
        header .showcase div:nth-child(3) .about-me p:nth-child(1) {
          font-family: "Zen Loop", cursive;
          font-weight: 700;
          line-height: 1.3;
          font-size: 1.2rem; }
        header .showcase div:nth-child(3) .about-me p:nth-child(2) {
          font-family: "Otomanopee One", sans-serif;
          font-size: 1.4rem; }

.contact-main {
  padding: 3rem 0.5rem;
  display: flex;
  width: 100%; }
  .contact-main .contact1 {
    width: 50%;
    margin: 2rem 0;
    padding: 2rem 1rem;
    border-radius: 15px 0 0 15px;
    background: #ffbe56; }
    .contact-main .contact1 h2 {
      color: #0a3044;
      font-family: "Otomanopee One", sans-serif;
      font-weight: 900; }
    .contact-main .contact1 form {
      display: flex;
      flex-direction: column;
      padding-top: 2rem; }
      .contact-main .contact1 form .horizontal-column {
        display: flex; }
        .contact-main .contact1 form .horizontal-column #name, .contact-main .contact1 form .horizontal-column #email {
          width: 50%; }
          .contact-main .contact1 form .horizontal-column #name input, .contact-main .contact1 form .horizontal-column #email input {
            width: 100%; }
      .contact-main .contact1 form #subject input, .contact-main .contact1 form #message textarea {
        width: 100%; }
      .contact-main .contact1 form .form-input-style1 input {
        height: 50px; }
      .contact-main .contact1 form .form-input-style2 {
        margin: 0.8rem 0.8rem 0 0;
        line-height: 1.4; }
        .contact-main .contact1 form .form-input-style2 .input-text {
          padding: 0.3rem;
          border: none;
          border-radius: 10px;
          border: 2px solid #fff; }
        .contact-main .contact1 form .form-input-style2 .input-text:focus {
          outline: none;
          border: 2px solid #0a3044; }
        .contact-main .contact1 form .form-input-style2 .input-text::placeholder {
          font-size: 1.1rem;
          font-weight: 900;
          font-family: "Zen Loop", cursive; }
  .contact-main .contact2 {
    width: 50%;
    background: #0a3044;
    border-radius: 15px;
    padding: 0 1rem;
    padding-top: 2rem;
    padding-bottom: 7rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .contact-main .contact2 h2 {
      font-family: "Otomanopee One", sans-serif;
      color: #fff;
      font-size: 1.8rem;
      padding-bottom: 1rem; }
    .contact-main .contact2 .social-links {
      width: 200px;
      display: flex;
      justify-content: space-around;
      height: 60px; }
      .contact-main .contact2 .social-links a {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
        background: #fff;
        color: #0a3044;
        transition: all 0.4s ease; }
      .contact-main .contact2 .social-links a:hover {
        background: #ffbe56;
        color: #fff;
        width: 60px;
        height: 60px; }
    .contact-main .contact2 .adresses {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-family: "Zen Loop", cursive;
      font-weight: 900;
      font-size: 1.8rem; }
      .contact-main .contact2 .adresses a, .contact-main .contact2 .adresses p {
        color: #fff;
        transition: 0.3s; }
        .contact-main .contact2 .adresses a i, .contact-main .contact2 .adresses p i {
          padding-right: 1rem;
          font-size: 1.8rem; }
      .contact-main .contact2 .adresses a:hover {
        color: #ffbe56; }

.projects {
  padding: 3rem 0;
  font-family: "Zen Loop", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .projects ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem; }
  .projects a {
    color: #fff;
    font-weight: 900;
    font-size: 1.8rem;
    background: #ffbe56;
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s; }
  .projects li a:hover {
    cursor: pointer;
    transform: translate(10px, -10px);
    box-shadow: -8px 8px #0a3044; }

.footer {
  /* position: relative;
  bottom: 0; */
  width: 100%;
  min-height: 100px;
  height: auto;
  background: #0a3044;
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-family: "Encode Sans SC", sans-serif;
  color: #fff; }

@media (max-width: 768px) {
  header .showcase div:nth-child(3) {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr); }

  .showmenu {
    height: 190px !important;
    padding: 1rem 0 !important; }

  nav .container ul {
    height: 0;
    overflow: hidden;
    background: #0a3044;
    width: 100%;
    display: block;
    position: absolute;
    top: 70px;
    padding: 0;
    transition: all 0.5s; }

  nav .container ul li a {
    background: #0a3044;
    border-radius: 0; }

  nav .container .hamburger {
    display: flex; }

  .contact-main {
    flex-direction: column; }
    .contact-main .contact1 {
      border-radius: 15px; }
    .contact-main .contact1, .contact-main .contact2 {
      width: 100%; }

  .projects ul {
    grid-template-columns: 1fr; } 
  .foo}

/*# sourceMappingURL=main.css.map */
