#hamburger{
    cursor: pointer;
    display: block;
    font-size: 35px;
    float: right;
    margin-top: 17.5px;
    transition: all 0.3s ease;
}

#hamburger:hover{
    color: #f7c08a;
}

#menu{
    width: 0;
    clear: both;
    background-color: #333;
    position: fixed;
    top: 70px;
    right: 0px;
    transition: width 0.5s ease-in-out;
}

#navbar ul li{
    float: none;
}


#showcase .showcase-content{
    padding-top: 80px;
}

.info-img{
    float: none;
    display: none;
}

#home-info .info-content{
    float: none;
    width: 100%;
}

.box{
    float: none;
    width: 100%;
    padding: 20px 30px;
}

#about-info .info-right img{
    display: none;
}

#about-info .info-left{
    float: none;
    width: 100%;
    text-align: center;
}

.contact-box{
    border-bottom: 1px solid rgb(66, 66, 66);
}