body{
    font-family: Arial, Helvetica, sans-serif;
    background: url("img/background.jpg");
}

#game-box{
    text-align: center;
    color: #dae0fb;
}

#play-box{
    width: 1227.3.44px;
    margin: 10px;
    height: 420px;
    border: 4px solid #dae0fb;
    border-radius: 40px;
}

#shape{
    float: left;
    width: 200px;
    height: 200px;
    background-color: red;
    display: none;
    position: relative;
}