@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
:root{    
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
    --purp-color: #a66bbe;
    --blue-color: #009cff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Lato', sans-serif;
    background: var(--light-color);
    line-height: 1.5;
}

a{
    text-decoration: none;
}

.fixed{
    height: 70px;
}

/* utilities */
.tag{
    display: inline-block;
    color: #fff;
    padding: 0.5em 0.8em;
    font-size: 0.6em;
    border-radius: 30px;
    margin-bottom: 10px;
}

.tag-yellow{
    background: var(--secondary-color);
}

.tag-purple{
    background: var(--purp-color);
}

.tag-blue{
    background: var(--blue-color);
}

.btn{
    color: white;
    padding: 0.7em 1em;
    transition: all 0.4s ease;
    text-align: center;
}


.btn-red{
    background: var(--primary-color);
}

.btn-dark{
    background: var(--dark-color);
}

.btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

.font-style-1{
    font-family: 'Staatliches', cursive;
}

.container{
    max-width: var(--max-width);
    margin: auto;
}

.bg-dark{
    background: #333 !important;
    color: white !important;
}

.bg-red{
    background: var(--primary-color) !important;
    color: white !important;
}

.bg-dark a, .bg-red a{
    color: white !important;
}

/* navbar */

#main-nav{
    width: 100%;
    height: 70px;
    background: #fff;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}
.navbar{ 
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 0.8em;
    align-items: center;
    height: 100%;
}

.container .logo{
    width: 180px;
}

.container ul{
    list-style: none;
    display: flex;
}

.container ul li{
    display: inline-block;
}

.container ul li a{
    font-weight: bold;
    color: black;
    padding: 0.7em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
    padding: 0.7em 1em;
}

.container ul li a.current{
    color: #fff;
    background: var(--primary-color);
}

.container ul li a:hover{
    background: var(--light-color);
    color: black ;
}

.container .social{
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.container .social a{
    color: #777;
} 


/* showcase */

header{
    padding: 2em 2rem;
    background: #333;
    width: 100%;
    position: relative;
}

header::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: url('../image/featured.jpg') no-repeat center center/cover ;
    opacity: 0.4;
}

#showcase{
    padding: 0 1em;
    color: #fff;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center; 
}

#showcase-content{
    z-index: 1;
}

#showcase-content h2{
    font-size: 2em;
}

#showcase-content p{
    padding-bottom: 2em;
}


/* news grid */

#news-grids{
    padding: 1.5rem;
}

#news-grids h3{
    font-size: 1.2em;
}

#news-grids a{
    color: black;
}

.grids{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}

.grids > div:nth-child(1){
    grid-column: 1/span 2;
}
 
.grids > div:nth-child(2){
    grid-column: 3/span 1;
}
 
.grids > div:nth-child(3){
    grid-column: 1/span 1;
}
 
.grids > div:nth-child(4){
    grid-column: 2/span 1;
}
 
.grids > div:nth-child(5){
    grid-column: 3/span 1;
}
 
.grids > div:nth-child(6){
    grid-column: 1/span 1;
}
 
.grids > div:nth-child(7){
    grid-column: 2/span 2;
}
 
.news-item{
    padding:1rem;
    background: white;
    display: grid;
    grid-gap: 1rem;
    align-items: center;
}

.news-item-horizontal{
    grid-template-columns: repeat(2,1fr);
}

.grids img{
    width: 100%;
}

/* footer */

footer{
    width: 100%;
    padding: 2rem;
}

.footer-grid{
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}

.footer-grid > div:nth-child(1) img{
    width: 100%;
    padding-bottom: 10px;
}

.footer-grid > div:nth-child(2) input{
    width: 90%;
    height: 30px;
}

.footer-grid > div:nth-child(2) .btn{
    width: 90%;
    padding: 0.3rem;
    font-size: 0.9rem;
}

.footer-grid > div:nth-child(3) a{
    padding-bottom: 5px;
    border-bottom: #555 dotted 1px;
    transition: 0.4s;
}

.footer-grid > div:nth-child(3) a:hover{
    color: var(--primary-color) !important;
}

.footer-grid > div:nth-child(4) .btn{
    width: 120px;
    padding: 0.6rem !important;
}

.footer-flex{
    min-height: 170px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.copyright{
    text-align: center;
    padding: 1rem;
    background: #444;
    font-size: 0.7rem;
}


/* about-page */

#about-main{
    padding: 2rem;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1rem;
}

#about-main > div{
    background: #fff;
    padding: 1rem;
    grid-row: 1/span 3;
}

#about-main > div h1{
    font-size: 3rem;
}

#about-main aside{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#about-main aside p{
    padding-bottom: 10px;
}