#hamburger{
    cursor: pointer;
    display: block;
    font-size: 35px;
    float: right;
    margin-top: 17.5px;
    transition: all 0.3s ease;
}


#navbar ul{
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 70px;
    right: 0px;
    flex-direction: column;
    transition: width 0.5s ease-in-out;
}

#navbar ul li a{
    width: 100%;
    border-radius: 0;
    background: var(--primary-color);
    color: var(--white-color);
}

.menu{
    width:150px !important;
}


#showcase .showcase-content{
    padding-top: 80px;
}

.info-img{
    float: none;
    display: none;
}

#home-info .info-content{
    float: none;
    width: 100%;
}

.box{
    float: none;
    width: 100%;
    padding: 20px 30px;
}

#about-info .info-right img{
    display: none;
}

#about-info .info-left{
    float: none;
    width: 100%;
    text-align: center;
}

.contact-box{
    border-bottom: 1px solid rgb(66, 66, 66);
}

#contact-info{
    height: auto;
}

#contact-form{
    padding: 30px 1rem;
}