*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* side menu */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
#menubar{
    overflow-y: scroll;
    width: 0px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background:#3d3d3d;
    z-index: 1;
    transition: 0.5s;
}

.menu-heads {
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 70px;
    font-size: 1.3em;
}

.closeBtn{
    cursor: pointer;
    font-size: 1.6em;
    transition: all 0.4s;
}

.closeBtn:hover{
    transform: rotate(90deg);
}

#html a , .dropdown-menu{
    display: block;
    color: #f4f4f4;
    padding: 20px 0;
    width: 100%;
    transition: all 0.4s ease;
    padding-left: 10px;
}

#html a:hover , .dropdown-menu:hover{
    cursor: pointer;
    background: #555555;
}

.dropdown{
    padding: 20px 0;
    background: #555;
    z-index: 2;
    width: 100%;
    height: 0;
    overflow-y: hidden;
    padding:0;
}

.dropdown li a:hover{
    background: #3d3d3d !important;
}

/* navbar */

#menuButton{
    cursor: pointer;
    border-style: none;
    font-size: 30px;
    background: #cee6cd;
    color: white;
    margin: 10px 0 0 30px;
}

#navbar{
    height: 70px;
    background: #cee6cd;
    transition: margin-left 1s;
}

/* page content */

#page-content{
    transition: margin-left 0.5s;
}



