body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

#navbar{
    height: 70px;
    background: #cee6cd;
    transition: margin-left 1s;
}

#menubar{
    width: 0px;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    float: left;
    background:#3d3d3d;
    box-sizing: border-box;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
}

.menu-heads{
    width: 80% !important;
    float: left;
    display: inline !important;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding-left: 0 !important;
    padding-top: 12.5px !important;
}

#closeBtn{
    display: inline !important;
    width: 18% !important;
    font-weight: lighter;
    font-size: 2rem;
    padding: 0 !important;
    padding: 10px 0 0 0;
    height: 30px !important;
    position: absolute;
    top: 10px;
}

#menubar a{
    clear: both;
    display: block;
    width: 100%;
    color: gray;
    height: 60px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    transition: 0.3s;
}

#menubar a:hover{
    cursor: pointer;
    color: white;
}

#under-menu-hidden{
    background: red;
    position: absolute;
    width: 100%;
    display: none;
}

#hidden:hover #under-menu-hidden{
    display: block;
}


#page-content{
    transition: margin-left 0.5s;
}

#menuButton{
    cursor: pointer;
    border-style: none;
    font-size: 30px;
    background: #cee6cd;
    color: white;
    margin: 10px 0 0 30px;
}

h2{
    margin: 0px;
}